:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

/* font-family: 'Montserrat', sans-serif; 
font-family: 'Fraunces', serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--Cream);
    font-size: 14px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    margin: 1.875em auto;
    padding: 0 1.875em;
}

.grid{
    max-width: 43.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--White);
    border-radius: 0.938em;
    overflow: hidden;

}

.img img{
    max-width: 100%;
    display: inherit;
}

.card-content{
    padding: 2.188em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h6.product{
    text-transform: uppercase;
    letter-spacing: 0.313em;
    font-size: 9.5px;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}

h2.product-name{
    font-family: 'Fraunces', serif;
    font-size: 33px;
    line-height: 1em;
    font-weight: 700;
    color: var(--Very-dark-blue);
}

p.description{
    color: var(--Dark-grayish-blue);
    line-height: 1.7em;
}

.price{
    display: flex;
    align-items: center;
}

p.current-price{
    font-family: 'Fraunces', serif;
    color: var(--Dark-cyan);
    font-size: 25px;
    font-weight: 700;
    padding-right: 25px;
}

p.old-price{
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.btn{
    background-color: var(--Dark-cyan);
    border: none;
    padding: 14px 0;
    border-radius: 0.75em;
    color: var(--White);
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin: 2px;
    transition: background-color .3s ease;
    width: 100%;
}

.btn:hover{
    background-color: hsl(158, 38%, 20%);
    
}

.btn img{
    padding-right: 7px;
}

/* Mobile CSS */
@media only screen and (max-width: 648px){
    .grid{
        grid-template-columns: 1fr;
    }
    .img img{
        max-height: 460px;
        width: 100%;
        object-fit: cover;
    }
    .card-content{
        display: block;
    }
    h6.product, h2.product-name, p.description, .price{
        padding-bottom: 23px;
    }
}

@media only screen and (max-width: 320px){
    .container{
        margin: 15px auto;
        padding: 0 15px;
    }

    .img img{
        max-height: 290px;
    }

    .card-content{
        padding: 24px;
    }

    h6.product, h2.product-name, p.description, .price{
        padding-bottom: 16px;
    }

    h2.product-name{
        font-size: 26px;
    }

    p.description{
        font-size: 12px;
    }
    p.current-price{
        font-size: 24px;
    }
    .btn{
        font-size: 10px;
    }
    
 }

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
color: hsl(228deg, 45%, 44%);
}